
.container{
  background:url(background2.jpg) no-repeat fixed center center;
  height: auto;
}

h1{
  color:red;
  background-color:white;
  border-radius:5px;
  padding:25px 25px;
}
.row{
  background:white;
  border-radius:5px;
  margin:20px 20px;
  padding:20px 20px;
  opacity:0.8;
}

.logged-in{
  color:white;
}

h3{
  color:red;
}

body{
  background-color:black;
}

